/* components/container.css */
/* Contains styles for the container component */

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.1);
}