/* components/gre-word.css */
/* Contains styles for GRE words */

.gre-word {
    background-color: rgba(168, 207, 243, 0.348);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.gre-word:hover {
    background-color: rgba(103, 172, 246, 0.469);
}