@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00001b;
    font-family: 'Space Mono', monospace;
    position: fixed;
} */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00001b;
    font-family: 'Space Mono', monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body {
    margin: 0;
    padding-top: 20px; /* Adjust this value based on your header height */
}



/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#00001b;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); */ 


.logo object, 
.logo svg {
    height: 40px;
    width: auto;
    padding-top: 5px;
    margin-right: 1.5rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 1.5rem;
}

.nav-menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    transition: color 0.3s ease;
    text-transform: lowercase;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: rgba(255, 255, 255, 1);
}

.nav-menu a i {
    margin-right: 5px;
}

/* Lightbulb icon specific styles */
#lightbulb {
    cursor: pointer;
}

#lightbulb i {
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#lightbulb i.glow {
    text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #fff;
    color: #fff;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgba(255, 255, 255, 0.6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles for series buttons on landing page */
.series-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.series-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
}

.series-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
}

.series-button i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.series-button span {
    font-size: 0.9rem;
    text-align: center;
}

#app, .container {
    position: relative;
    z-index: 1;
}