/* components/landing-page.css */
/* Contains styles specific to the landing page */

.landing-page {
    background-color: #000015;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Changed from center to flex-start */
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Space Mono', monospace;
    overflow: hidden;
}

.landing-page .container {
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed from center to flex-start */
    height: 100%;
    padding-top: 2rem; /* Added padding to give some space at the top */
}

#animated-text {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typing-text {
    border-right: 2px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.series-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 0.5em;
}

.series-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 130px;
}

.series-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

.series-button i {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.series-button span {
    font-size: 0.9rem;
    font-weight: 300;
}