<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn GRE Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../assets/style/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="series-title">Learn GRE Words</h1>
        <div id="content">
            <!-- Content will be dynamically inserted here by JavaScript -->
        </div>
        <a href="../index.html" class="back-button">Back to Series Selection</a>
    </div>
    <script src="../data/words.js"></script>
    <script src="../scripts/script.js"></script>
</body>
</html>